{% extends 'base.html.twig' %}

{% block body %}
<div
class="bg-image d-flex justify-content-center align-items-center"
style="
       background-image: url('https://img.peapix.com/5e3593820cca499d981325f244781540_480.jpg');
       height: 100vh;
       "
>
<h1 class="text-white"> Bienvenue dans ma librairie :) </h1>

</div>

<div class="container my-5">

  <footer class="text-center text-white" style="background-color: #caced1;">
    <h2 class="text-white"> Les derniers livres </h2>
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://www.myposter.fr/magazin/wp-content/uploads/2021/12/type-papier-livre-photo-1.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://www.myposter.fr/magazin/wp-content/uploads/2021/12/format-livre-photo-personnalise-1.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://www.cairn.info/vign_rev/ERES_1001/ERES_RATEA_2001_01.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHGqfupb6Kzy9a2Ozn07OVS00DER7SVO055u4dIZLVnoyMXHQaVIZwWb9LjD_KLd4iJH0&usqp=CAU"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://mp-prod-de-medialib.s3-eu-central-1.amazonaws.com/complete/fotobuch-04-2021-fotobuch-buchtypen-information-node-2/fotobuch-04-2021-fotobuch-buchtypen-information-node-2-xxl.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://media.naissance.fr/12313-zoom_fr/decouverte-d-un-petit-prince.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
    
    </div>
     <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white"> Ada :)</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->
{% endblock %}

