<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ma Librairie{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Ada's library</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/categorie" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="/categorie/">Affichage des catégories</a>
                              <a class="dropdown-item" href="/categorie/new">Ajouter une categorie</a>
                            

                          </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/livre" role="button" aria-haspopup="true" aria-expanded="false">Livres</a>
                           <div class="dropdown-menu">
                            <a class="dropdown-item" href="/livre">Affichage des livres</a>
                              <a class="dropdown-item" href="/livre/new">Ajouter un livre</a>
                            
                            </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/auteur" role="button" aria-haspopup="true" aria-expanded="false">Auteurs</a>
                         <div class="dropdown-menu">
                          <a class="dropdown-item" href="/auteur">Affichage des auteurs</a>
                            <a class="dropdown-item" href="/auteur/new">Ajouter un Auteur</a>
                            
                            </div>
                </li>


             
             
            </ul>
            
          </div>
        </div>
      </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

